<!DOCTYPE>
<html>

<head>
	<meta HTTP-EQUIV="CONTENT-type" CONTENT="text/html; charset=utf-8">
	<title></title>
	<style type="text/css">
		<!--
		@page {
			margin-left: 0.83in;
			margin-right: 0.43in;
			margin-top: 0.49in;
			margin-bottom: 0.19in
		}

		p {
			margin-bottom: 0in;
			direction: ltr;
			line-height: 100%;
			widows: 0;
			orphans: 0
		}

		p.western {
			font-family: "Times New Roman", serif;
			font-size: 14pt
		}

		p.cjk {
			font-family: "Times New Roman";
			font-size: 14pt;
			so-language: uk-UA
		}

		p.ctl {
			font-family: "Times New Roman";
			font-size: 14pt;
			so-language: uk-UA
		}

		A:link {
			color: #0563c1;
			so-language: zxx
		}
		-->
	</style>
</head>

<body LANG="uk-UA" LINK="#0563c1" DIR="LTR">
<div style="width: 18cm; margin-left: 25%;">
	<div type=header>
		<p class="western"
			style="margin-bottom: 0.25in; border: none; padding: 0in; line-height: 100%; widows: 2; orphans: 2">
			<br>
		</p>
	</div>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-top: 0.05in; line-height: 134%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>Міністерство
								освіти і науки України</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 0.29in; margin-right: 0.31in; line-height: 107%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>Чернівецький
								національний університет імені Юрія
								Федьковича Інститут фізико-технічних
								та комп’ютерних наук</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-bottom: 0.11in; line-height: 107%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>Кафедра
								програмного забезпечення комп’ютерних
								систем</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-top: 0.23in; margin-bottom: 0.11in; line-height: 134%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=5 style="font-size: 20pt"><b>Створення
								потокового відео сервісу з системою
								рекомендацій контенту</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-top: 0.23in; margin-bottom: 0.11in; line-height: 134%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>ДИПЛОМНИЙ
								ПРОЕКТ (РОБОТА)</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-bottom: 0.11in; line-height: 107%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>Рівень
								вищої освіти – другий (магістерський)</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western"
		style="margin-left: 2.66in; margin-right: 0.52in; margin-top: 0.16in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>Виконав
							(ла): студент (ка) 6 курсу, групи 643
							спеціальності</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western"
		style="margin-left: 2.66in; border: none; padding: 0in; line-height: 133%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><U>121
								– Інженерія програмного забезпечення</U></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 2.66in; margin-right: 0.04in; margin-bottom: 0.11in; line-height: 95%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>(</font>
					</font>
				</font>
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=2>шифр
							– назва спеціальності</font>
					</font>
				</font>
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>)</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western"
		style="margin-left: 2.66in; margin-top: 0in; border: none; padding: 0in; line-height: 133%; widows: 0; orphans: 0">
		<font color="#000009">
				<font face="Calibri, serif">
					<font size=2 style="font-size: 11pt">
						<font face="Times New Roman, serif">
							<font size=4><U th:text="${Name}"/>
		</font>
		</font>
		</font>
		</font>
		</font>
	</p>
	<p class="western" align=center
		style="margin-left: 2.66in; margin-right: 0.04in; margin-bottom: 0.11in; line-height: 95%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>(прізвище,
							ім’я, по-батькові студента)</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western"
		style="margin-left: 2.66in; margin-top: 0in; border: none; padding: 0in; line-height: 133%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>Керівник</font>
					</font>
				</font>
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>_______<U>
								Прохоров Г. В.</U>_____</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="margin-left: 2.66in; margin-bottom: 0.11in; line-height: 95%; widows: 2; orphans: 2">
		<font color="#000009">
			<font face="Calibri, serif">
				<font size=2 style="font-size: 11pt">
					<font face="Times New Roman, serif">
						<font size=2>(підпис)
							(прізвище та ініціали)</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="margin-top: 0in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western"
		style="margin-left: 0.15in; border: none; padding: 0in; line-height: 133%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>Нормоконтролер___________________________</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="margin-left: 1.8in; margin-bottom: 0.11in; line-height: 95%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=2>(підпис) (прізвище
							та ініціали)</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western"
		style="margin-left: 0.15in; margin-top: 0.1in; margin-bottom: 0.11in; line-height: 134%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>До захисту допущено:</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="margin-left: 0.15in; margin-bottom: 0.11in; line-height: 107%; widows: 2; orphans: 2">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4><b>Протокол засідання кафедри №___</b></font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western"
		style="margin-left: 0.15in; margin-top: 0in; border: none; padding: 0in; line-height: 134%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>від „___”_________ 2020 р.</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western"
		style="margin-left: 0.15in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>зав. кафедри________проф. Остапов С. Е.
							</font>
					</font>
				</font>
			</font>
		</font>
	</p>
	<p class="western" style="margin-top: 0.01in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" style="margin-top: 0.01in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<br>
	</p>
	<p class="western" align=center
		style="margin-left: 0.3in; margin-right: 0.31in; margin-top: 0in; border: none; padding: 0in; line-height: 100%; widows: 0; orphans: 0">
		<font face="Calibri, serif">
			<font size=2 style="font-size: 11pt">
				<font color="#000009">
					<font face="Times New Roman, serif">
						<font size=4>Чернівці
							– 2020</font>
					</font>
				</font>
				<font face="Times New Roman, serif">
					<font size=4><b>
						</b></font>
				</font>
			</font>
		</font>
	</p>
</div>
</body>

</html>