<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        tr td{
            padding: 5px;
        }
        tr.table2 {
            background-color: yellow;
            font-weight: bold;
        }

        tr.bbc {
            background-color: gainsboro;
        }

        td.aquaunit {
            background-color: aqua;
        }
    </style>
    <title>Tables</title>
</head>

<body>
    <div>
        <table cellspacing="0" border="2">
            <tr class="table2">
                <th>№</th>
                <th>ПІБ студента</th>
                <th>Адреса</th>
                <th>Телефон</th>
            </tr>
            <tr class="bbc">
                <td class="aquaunit">1</td>
                <td>Петров І.В.</td>
                <td>Адреса 1</td>
                <td>+3056663232</td>
            </tr>
            <tr class="bbc">
                <td class="aquaunit">2</td>
                <td>Сидоров І.В.</td>
                <td>Адреса 2</td>
                <td>+3056663232</td>
            </tr>
            <tr class="bbc">
                <td class="aquaunit">3</td>
                <td>Козачук В.Р.</td>
                <td>Адреса 3</td>
                <td>+3056663232</td>
            </tr>
            <tr class="bbc">
                <td class="aquaunit">4</td>
                <td>Карпатський О.Д.</td>
                <td>Адреса 4</td>
                <td>+3056663232</td>
            </tr>
        </table>
    </div>
</body>

</html>